*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: purple;
    display: block;
}

.menu-lines{
    width: 35px; 
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.nav-btn{
    padding: 5px;
    border-radius: 8px;
     
}

.nav-headers{
    padding-top: 15px;
}

.nav-headers > ul{
    margin-bottom: 0;
    color: white;
    text-decoration: none;
    padding-left: 0;
}

nav{
    color: white;
}

header{
    display: block;
}

.header-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.big-screen-nav{
    display: none;
    justify-content: space-between;
    padding: 0 32px;
}


.nav-headers > li{
    display: inline;
    text-decoration: none;
    color: white;
}

.big-screen-nav > h1{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.small-screen-nav{
    display: none;
    padding: 0 32px;
}

@media screen and (min-width: 700px){
    .big-screen-nav{
        display: flex;
        justify-content: space-between;
        padding: 0 32px;
    }
}

@media screen and (max-width: 699px){
    .small-screen-nav{
        display: block;
        padding: 0 32px;
    }

    .small-header-group{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
}

.collapse-navbar{
    transition: 0.4s;
}

.collapse-items{
    transition: 0.4s;
    margin-left: 0;
}

li > h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

li > a{
    text-decoration: none;
    color: white;
}

h1 > a{
    text-decoration: none;
    color: white;
}


.collapse-items> li:hover{
    background-color: #3C0061;
    transition: 0.4s;
}

body{
    background-color: whitesmoke;
    
}

main{
    background-color: whitesmoke;
    padding: 10px;
    min-height: 500px;
}

#form-container{
    padding: 10px;
}

#name-group{
    display: flex;
    gap: 10px;
}

#enquiry-type{
    padding: 16px 12px;
}

.name-field{
    width: 100%;
}

#submit-btn{
    background-color: purple;
    border: 4px solid purple;
}

#intro-section{
    background-image: url(../images/shola_background.png);
}

.page-header {
	height: 50vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 75%;
}

#overlay{
    height: inherit;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.35);

}

#info-block{
    display: block;
    position: relative;
    background-color: purple;
    border-radius: 5%;
    padding: 20px;
    margin-right: 1%;
    top: 200px;
    width: 40%;
    left: 30px;
    top: 20px;
    bottom: 0;
}

@media screen and (max-width: 750px) {
    #info-block{
        width: 50%;
        
    }
}

@media screen and (max-width: 500px) {
    #info-block{
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        max-width: 80vw;
        box-sizing: border-box;
        overflow: hidden;
    }
}

#bio-top-row{
    display: flex;
}

#bio-top-row > img{
    height: 100%;
    width: 100%;
    max-width: 150px;
}

#bio-container{
    display: flex;
    margin: 1%;
    justify-content: center;
    gap: 10px;
}

.bio-box{
    width: 18rem;
}

@media screen and (max-width: 1050px){
    #bio-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px){
    .bio-box{
        width: 100%;
    }
}

#lnkbtn1, #lnkbtn2{
    background-color: purple;
    border: 4px solid purple;
}

#singles-container > h3{
    text-align: center;
}

#singles-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    gap: 1%;
    margin-bottom: 1%;
}

.single {
    width: 100%;
    height: auto;
    transition: transform .4s;
}

.single:hover{
    transform: scale(0.8);
}

@media screen and (max-width: 850px) {
    .s-single{
        grid-area: single1;
        max-width: 275px;
    }

    .singles-row{
        display: grid;
        grid-template-areas: 
        'single1 single2'
        'single3 single4';
        width: 100%;
        max-width: 600px;
    }

    .single > img{
        width: 100%;
        height: 100%;
    }
}

#album-container > h3{
    text-align: center;
}

#albums-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    gap: 1%;
    margin-bottom: 1%;
}

#coming-soon-container{
    text-align: center;
}

#coming-soon-row{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    gap: 1%;
}

@media screen and (max-width: 700px){
    #coming-soon-row{
        display: block;
    }
}

.song-container{
    width: 100%;
}
/*
#single1{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#single2{
    background-image: url(../images/magnificent-god.png);
    background-repeat: no-repeat;
}

#single3{
    background-image: url(../images/my-name-is-favour.png);
    background-repeat: no-repeat;
}

#single4{
    background-image: url(../images/na-you-i-go-dey-vote.png);
    background-repeat: no-repeat;
}
*/
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}


footer{
    display: flex;
    flex-wrap: wrap;
    background-color: d;
    padding: 5px;
}

.footer-block{
    width: 50%;
}

.footer-links{
    color: black;
}

.footer-links > li > a{
    color: black;
}

.footer-links > li > a:hover{
    color: purple;
}

.simple-list{
    list-style-type: none;
}